/* Estilos generales */
body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
    margin: 0; /* Elimina el margen para un diseño más consistente */
    padding: 0;
    background-color: #1c1c1c; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    transition: background-color 1.5s, color 1.5s;
}

/* Estilo para el tema claro */
body.light-theme {
    background-color: #f5f5f5; /* Fondo claro */
    color: #333; /* Texto oscuro */
}

/* Estilos del header */
header.inicio {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/fondo.png");
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.header-content {
    background-color: transparent;
    padding: 100px 0;
    text-align: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
}

.color {
    color: #85807a; /* Un color de acento */
}

/* Animación de texto */
.animate-text {
    font-size: 2,3em;
    color: #fff; /* Texto blanco */
    margin-bottom: 20px;
    animation: moveText 2s ease infinite;
}

@keyframes moveText {
    0% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }

}

/* Estilos para las secciones */
section {
    padding: 25px;
    text-align: justify;
    background-color: #333; /* Fondo gris oscuro */
    color: #e0e0e0; /* Texto claro */
}

#about {
    background-color: #444; /* Fondo gris oscuro */
    text-align: center;
    padding: 25px;
}

#servicio {
    background-image: url("img/servicio.png"); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 100px 0;
    
    max-width: 800px;
    margin: 0 auto;
}

.servicio {
    max-width: 800px;
    margin: 0 auto;
}

#contact {
    background-color: #111; /* Fondo negro */
    color: white;
    text-align: center;
    padding: 100px;
}

#contact .redes {
    margin-top: 40px;
}

#contact .redes a {
    color: white;
    margin: 0 10px; /* Ajuste de márgenes para mejor espaciado */
    text-decoration: none;
}

#contact .redes a:hover {
    text-decoration: underline;
}

/* Estilos para el footer */
footer {
    background-color: #000; /* Fondo negro */
    color: white;
    text-align: center;
    padding: 10px; /* Ajuste de padding para el footer */
    position: fixed;
    width: 100%;
    bottom: 0;
}
