body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
    margin: 0; /* Elimina el margen para un diseño más consistente */
    padding: 0;
    background-color: #1c1c1c; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    transition: background-color 1.5s, color 1.5s;
}

/* Estilo para el tema claro */
body.light-theme {
    background-color: #f5f5f5; /* Fondo claro */
    color: #333; /* Texto oscuro */
}

/* Estilos del header */
header.inicio {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/fondo.jpeg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.header-content {
    background-color: transparent;
    padding: 90px 0;
    text-align: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
}

.color {
    color: #85807a; /* Un color de acento */
}

/* Animación de texto */
.animate-text {
    font-size: 2,3em;
    color: #fff; /* Texto blanco */
    margin-bottom: 20px;
    animation: moveText 2s ease infinite;
}

@keyframes moveText {
    0% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }

}

/* Estilos para las secciones */
section {
    padding: 25px;
    text-align: justify;
    background-color: #333; /* Fondo gris oscuro */
    color: #e0e0e0; /* Texto claro */
}

#about {
    background-color: #2c2b3398; /* Fondo gris oscuro */
    text-align: center;
    padding: 25px;
}

#servicio {
    background-image:linear-gradient(rgba(17, 17, 19, 0.788), rgba(13, 14, 17, 0.8)),  url("img/servicio.jpeg"); 
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    color: #fff; /* Texto blanco */
    text-align: left ;
    padding: 60px 2;
    
    max-width: 1000px;
    margin: 0 auto;
}

.servicio {
    max-width: 800px;
    margin: 0 auto;
   
}

#contact {
    background-color: #1f1c1cb2; /* Fondo negro */
    color: white;
    text-align: center;
    padding: 90px;
}

#contact .redes {
    margin-top: 40px;
}

#contact .redes a {
    color: white;
    margin: 0 10px; /* Ajuste de márgenes para mejor espaciado */
    text-decoration: none;
}

#contact .redes a:hover {
    text-decoration: underline;
}

/* Estilos para el footer */
footer {
    background-color: #000; /* Fondo negro */
    color: white;
    text-align: center;
    padding: 1px; /* Ajuste de padding para el footer */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.redes a {
    display: inline-block;
    width: 40px; /* Ancho del círculo */
    height: 40px; /* Altura del círculo */
    text-align: center;
    line-height: 40px; /* Centrar verticalmente */
    border-radius: 50%; /* Borde redondeado para formar un círculo */
    background-color: #6e6e757e; /* Color de fondo del círculo */
    margin-right: 40px; /* Espacio entre íconos (ajustar según necesites) */
    font-size: 18px; /* Tamaño del ícono */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.redes a i {
    color: #131212; /* Color inicial del ícono */
}

.redes a:hover {
    background-color: #8f8888; /* Color de fondo al pasar el mouse */
}

.redes a:hover i {
    color: #333; /* Color del ícono al pasar el mouse */
}


/* Estilos para el título h2 */
body h2 {
    color: #c0c0c4; /* Color naranja oscuro */
}

/* Estilos para el enlace de correo electrónico */
body #emailLink {
    color: #c3c6c9 !important; /* Color azul */
}

/* Estilos para el enlace de WhatsApp */
body #whatsappLink {
    color: #a4c5ac !important; /* Color verde */
}
