
/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9a8ece; /* Fondo azul claro */
    color: #0a0202; /* Texto oscuro */
    transition: background-color 0.5s, color 0.5s;
}

body.light-theme {
    background-color: #f3ebeb; /* Fondo oscuro */
    color: #080202; /* Texto claro */
}

/* Estilos para el header */
header.inicio {
    background: linear-gradient(rgba(6, 2, 65, 0.514), rgba(0, 0, 0, 0.562)), url("img/fondo.png");
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 100px 0; /* Espacio interno superior e inferior */
    
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 20px; /* Ajusta el margen para separar del borde del encabezado */
    position: absolute;
    top: 10px; /* Distancia desde arriba */
    left: 20px; /* Distancia desde la izquierda */

}

.color {
    color: #3c3b80; /* Color logo personalizado */
}

/* Estilos para las secciones */
section {
    padding: 25px;
    text-align: justify;
    background-color: rgba(90, 89, 94, 0.411);
}

#about {
    background-color: #d7d0f323; /* Fondo blanco para la sección "Nuestro Compromiso" */
    text-align: center;
    padding: 25px;
}
  
#servicio {
    background: linear-gradient(rgba(6, 2, 65, 0.514), rgba(0, 0, 0, 0.562)), url("img/servicio.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0; /* Espacio interno superior e inferior */
    background-color: #e0e8f007; /* Fondo claro para la sección "Servicios Personalizados" */
}



#contact {
    background-color: #0c0d1371; /* Fondo  para la sección "Contacta con Nosotros" */
    color: white;
    text-align: center;
    padding: 100px;
}

#contact .redes {
    margin-top: 40px;
}

#contact .redes a {
    color: white;
    margin: 50px;
    text-decoration:double;
}

#contact .redes a:hover {
    text-decoration: underline;
    
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0,01px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
